<!DOCTYPE HTML>
<html>
  <head>
  <!-- ここから -->
    <meta charset="UTF-8" />
    <title>ねこめも</title>
  <!-- ここまでにhead要素を書きます -->
  </head>
  <body>
    <h1>Timeline建設予定地</h1>

    <p>2015/7/21(火) 9:45</p>
    <p>今日のねこ缶は気に入ったみたい</p>
    <img src="猫缶の画像" alt="ねこ缶">
  </body>
</html>


